@import "../SCSS-imports/culori";
@import "../SCSS-imports/extend";

main {
  background-color: $background;
  background-image: url("../../IMG/origami.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  font-family: "Montserrat";

  div.forgotPassword {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    div.formLogo {
      height: 320px;
      width: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 40px;
      padding: 30px 0px 30px 0px;
      box-shadow: 0 0 20px 0 $header;
      position: relative;
      font-size: 150px;
      color: $alb;
      span {
        text-shadow: 0 0 10px $header;
      }
    }
    div.email-area {
      width: 500px;
      height: 200px;
      background-color: $alb;
      position: relative;
      padding-top: 50px;
      box-shadow: 0 0 5px 0 $header;
      border-bottom-right-radius: 40px;
      border-top-right-radius: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      form.formular {
        padding: 5px 50px 65px 50px;
        p {
          width: 100%;
          text-align: center;
          font-size: 11px;
        }
        label {
          &.date {
            font-weight: bold;
          }
          &.date::after {
            content: " *";
            color: red;
          }
        }
        input {
          &.text {
            width: 100%;
            border-radius: 7px;
            padding: 10px 5px 10px 5px;
            box-shadow: 0px 0px 0px 1px $header;
            border: none;
            margin-bottom: 10px;
            &:focus {
              background-color: $tonDeschis;
              outline: none;
            }
            &:hover {
              background-color: $tonDeschis;
            }
            &::placeholder {
              font-style: italic;
              opacity: 30%;
            }
          }
        }
        button {
          font-weight: bold;
          width: 100%;
          padding: 15px 0px 15px 0px;
          margin: 20px 0px 0px 0px;
          border-radius: 7px;
          border: 2px solid $tonInchis;
          color: $alb;
          font-size: 18px;
          background-color: $tonInchis;
          &:hover {
            background-color: $contrast;
            color: $negru;
            border: 2px solid $contrast;
          }
        }
      }
    }
  }
}
