main {
  background-color: #f2f4f5;
  background-image: url("../../IMG/origami.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  font-family: "Montserrat";
}

main div.forgotPassword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.forgotPassword div.formLogo {
  height: 32rem;
  width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 4rem;
  padding: 3rem 0 3rem 0;
  -webkit-box-shadow: 0 0 2rem 0 #2b2b2b;
          box-shadow: 0 0 2rem 0 #2b2b2b;
  position: relative;
  font-size: 15rem;
  color: white;
}

main div.forgotPassword div.formLogo span {
  text-shadow: 0 0 1rem #2b2b2b;
}

main div.forgotPassword div.email-area {
  width: 50rem;
  height: 20rem;
  background-color: white;
  position: relative;
  padding-top: 5rem;
  -webkit-box-shadow: 0 0 0.5rem 0 #2b2b2b;
          box-shadow: 0 0 0.5rem 0 #2b2b2b;
  border-bottom-right-radius: 4rem;
  border-top-right-radius: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main div.forgotPassword div.email-area form.formular {
  padding: 0.5rem 5rem 6.5rem 5rem;
}

main div.forgotPassword div.email-area form.formular label {
  font-size: 1.8rem;
}

main div.forgotPassword div.email-area form.formular label.date {
  font-weight: bold;
}

main div.forgotPassword div.email-area form.formular label.date::after {
  content: " *";
  color: red;
}

main div.forgotPassword div.email-area form.formular input.text {
  width: 100%;
  border-radius: 0.6rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  -webkit-box-shadow: 0 0 0 0.1rem #2b2b2b;
          box-shadow: 0 0 0 0.1rem #2b2b2b;
  border: none;
  margin-bottom: 1rem;
}

main div.forgotPassword div.email-area form.formular input.text:focus {
  background-color: #fafafa;
  outline: none;
}

main div.forgotPassword div.email-area form.formular input.text:hover {
  background-color: #fafafa;
}

main div.forgotPassword div.email-area form.formular input.text::-webkit-input-placeholder {
  font-style: italic;
  opacity: 30%;
}

main div.forgotPassword div.email-area form.formular input.text:-ms-input-placeholder {
  font-style: italic;
  opacity: 30%;
}

main div.forgotPassword div.email-area form.formular input.text::-ms-input-placeholder {
  font-style: italic;
  opacity: 30%;
}

main div.forgotPassword div.email-area form.formular input.text::placeholder {
  font-style: italic;
  opacity: 30%;
}

main div.forgotPassword div.email-area form.formular button {
  font-weight: bold;
  width: 100%;
  padding: 1.5rem 0 1.5rem 0;
  margin: 2rem 0 0 0;
  border-radius: 0.6rem;
  border: 0.2rem solid #414141;
  color: white;
  font-size: 1.75rem;
  background-color: #414141;
}

main div.forgotPassword div.email-area form.formular button:hover {
  background-color: #ff7800;
  color: black;
  border: 0.2rem solid #ff7800;
}
/*# sourceMappingURL=main-forgot-password.css.map */