@import "../../SCSS-imports/culori";
@import "../../SCSS-imports/extend";
@import "../../SCSS-imports/responsive";
@import "../../SCSS-imports/dimensiuni";

* {
  @extend %reset;
}
html {
  font-size: 10px;
}
body {
  @extend %body;
}
div.top-header-fill {
  width: 100%;
  height: $H-nav-header;
  background-color: $header;
  position: fixed;
  z-index: 109;
}

header {
  top: 0.4rem;
  width: $Full;
  height: 5rem;
  background-color: $header;
  position: fixed;
  z-index: 110;
  transition: all 0.3s;

  nav.nav-header {
    position: relative;
    width: 80%;
    max-width: 350mm;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 9% 15% 40% auto 12rem;
    grid-template-rows: 100%;
    grid-template-areas: " logo search midMenu x rightMenu";
    grid-gap: 2rem;
    transition: all 0.3s;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
      a {
        text-decoration: none;
        color: $alb;
      }

      &.logo {
        justify-content: center;
        grid-area: logo;
        font-size: 3.7rem;
        &:hover {
          font-size: 4rem;
        }
      }

      &.responsive-element {
        justify-content: left;
        grid-area: search;

        div.search-extend {
          position: relative;
          width: 4rem;
          height: 4rem;
          border-radius: 0.5rem;
          &:hover {
            div.icon-search {
              div.for-flex-fill {
                span.icon-cauta {
                  color: $alb;
                }
              }
            }
          }

          div {
            position: relative;

            &.icon-search {
              top: 0;
              left: 0;
              width: 4rem;
              height: 4rem;
              border-radius: 0.4rem;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              div.for-flex-fill {
                position: relative;
                z-index: 120;
                width: fit-content;
                height: fit-content;
                span {
                  &.icon-fill-search {
                    font-size: calc(40rem / 16);
                    position: relative;
                    color: $header;
                  }
                  &.icon-cauta {
                    font-size: calc(((40rem * 85.4) / 100) / 16);
                    position: absolute;
                    left: calc(3.2rem / 16);
                    top: calc(2.7rem / 16);
                    color: $separator;
                  }
                }
              }
            }
            &.input {
              position: absolute;
              height: 2.5rem;
              width: 0.1rem;
              display: flex;
              align-items: center;
              left: 2.35rem;
              top: 0.7rem;
              overflow: hidden;
              transition: all 0.5s;

              div.input-text {
                position: relative;
                width: 15rem;
                height: 2rem;
                background-color: $background;
                border: 0.2rem solid $header;
                border-radius: 0 1rem 1rem 0rem;

                input {
                  position: relative;
                  width: 70%;
                  height: 100%;
                  left: -1.2rem;
                  border: none;
                  outline: none;
                  font-size: 1.5rem;
                  background-color: rgba(1, 1, 1, 0);
                  color: $negru;
                  &::placeholder {
                    color: $ton;
                    opacity: 1;
                    font-style: italic;
                  }
                }
              }
              div.clear {
                position: absolute;
                background-color: $ton;
                border: 0.2rem solid $header;
                width: 2.5rem;
                height: 2.5rem;
                top: 0;
                right: 0;
                border-radius: 50%;
                z-index: 119;
                span {
                  font-size: 0.9rem;
                  position: relative;
                  top: 0rem;
                  left: -0.1rem;
                  color: $separator;

                  &:hover {
                    color: $alb;
                  }
                }
              }
            }
          }
        }

        div.search-extend div.input.active {
          width: 15rem;
        }
        // ------------------------
      }

      &.hamburgher {
        display: none;
        grid-area: x;
        div {
          width: $W-icons-header;
          height: $H-icons-header;
          border-radius: $border-icons-radius-header;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s;
          &:hover {
            background-color: $ton;
          }
          div.burger {
            flex-direction: column;
            div {
              width: $font-size-icons-header;
              height: 0.2rem;
              background-color: $separator;
              margin: 0.2rem;
              transition: all 0.3s ease;
            }
            &:hover {
              div {
                background-color: $tonDeschis;
              }
            }
          }
          div.b-transform {
            div {
              &.line1 {
                transform: rotate(-45deg) translate(-0.5rem, 0.6rem);
              }
              &.line2 {
                opacity: 0;
              }
              &.line3 {
                transform: rotate(45deg) translate(-0.5rem, -0.6rem);
              }
            }
          }
        }
      }
    }

    ul {
      position: relative;
      list-style: none;
      display: flex;
      height: 100%;
      transition: all 0.3s;
      padding: 0;

      // ------------------------------------

      &.menu-bar {
        grid-area: midMenu;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 90% 10%;
        grid-template-areas:
          "home galerie artist"
          "homeS galerieS artistS";
        justify-content: center;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s;

          &.mid-menu-link {
            a {
              width: $W-icons-header;
              height: $H-icons-header;
              border-radius: $border-icons-radius-header;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: $font-size-icons-header;
              text-decoration: none;
              border: $border-icons-header solid $ton;
              color: $separator;
              transition: all 0.3s;

              &.link-header-activ {
                background-color: $ton;
                color: $alb;
                border: $border-icons-header solid $separator;
                font-size: $font-size-hover-icons-header;
              }
              &:not(.link-header-activ):hover {
                background-color: $tonInchis;
                color: $tonDeschis;
                border-color: $separator;
                font-size: $font-size-hover-icons-header;
              }
            }
          }

          &[class|="semn"] {
            color: $separator;
            font-size: 0.8rem;
            margin-top: -0.2rem;
            &:not(.semn-header-activ) {
              opacity: 0;
            }
          }

          &.home {
            grid-area: home;
          }
          &.semn-home {
            grid-area: homeS;
          }
          &.galery {
            grid-area: galerie;
          }
          &.semn-galerie {
            grid-area: galerieS;
          }
          &.artist {
            grid-area: artist;
          }
          &.semn-artist {
            grid-area: artistS;
          }
        }
      }

      // ------------------------------------

      &.responsive-element {
        grid-area: rightMenu;
        display: grid;
        grid-template-columns: 4rem 4rem 4rem;
        grid-template-rows: 90% 10%;
        grid-template-areas:
          " add cont cart"
          " . . .";

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s;
          &.add-acount {
            grid-area: add;
          }
          &.my-acount {
            grid-area: cont;
          }
          &.cart {
            grid-area: cart;
          }
          a {
            width: 4rem;
            height: 4rem;
            border-radius: $border-icons-radius-header;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $font-size-icons-header;
            text-decoration: none;
            color: $separator;
            transition: all 0.3s;
            &:hover {
              background-color: $ton;
              color: $tonDeschis;
              font-size: $font-size-hover-icons-header;
            }
          }
          &.right-bar-activ {
            transition: all 0.3s;
            a {
              background-color: $tondoi;
              color: $background;
              font-size: $font-size-hover-icons-header;
              &:hover {
                background-color: $ton;
                color: $tonDeschis;
                font-size: $font-size-hover-icons-header;
              }
            }
          }
        }
      }
    }
  }

  div.separator {
    width: $Full;
    height: $H-separator;
    background-color: $separator;
  }
}

section.header-fill {
  position: relative;
  width: 100%;
  height: $H-header-fill;
  background-color: $separator;
}

header nav.nav-header ul.menu-bar li.home:hover ~ .semn-home {
  opacity: 1;
}
header nav.nav-header ul.menu-bar li.galery:hover ~ .semn-galerie {
  opacity: 1;
}
header nav.nav-header ul.menu-bar li.artist:hover ~ .semn-artist {
  opacity: 1;
}

header
  nav.nav-header
  ul.menu-bar
  li.mid-menu-link:not(.container-header-activ):hover
  ~ .semn-header-activ {
  opacity: 0;
}
