@import "../SCSS-imports/culori";
@import "../SCSS-imports/extend";
@import "../SCSS-imports/responsive";
@import "../SCSS-imports/dimensiuni";

* {
  @extend %reset;
}
body {
  @extend %body;
}

main {
  background-color: $background;
  background-image: url("../../IMG/singuripealee.jpg");
  background-size: cover;
  width: 100%;
  height: calc(100% - 5.8rem);
  min-height: 60rem;
  position: relative;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  div.login {
    width: 50rem;
    background-color: $alb;
    position: relative;
    box-shadow: 0 0 0.5rem 0 $separator;
    border-radius: 5rem;
    div.formLogo {
      text-align: center;
      padding: 3rem 0 2rem 0;
      position: relative;
      font-size: 15rem;
    }
    form.formular {
      position: relative;
      padding: 0.5rem 5rem 6.5rem 5rem;
      a {
        &.forgotPass {
          color: $negru;
          position: relative;
          left: 28%;
        }
        &.singUp {
          font-weight: bold;
          display: block;
          text-decoration: none;
          text-align: center;
          width: 100%;
          padding: 1.5rem 0 1.5rem 0;
          margin: 2rem 0 0 0;
          border-radius: 0.7rem;
          color: $negru;
          font-size: 1.8rem;
          border: 0.1rem solid $negru;
          background-color: $alb;
          &:hover {
            background-color: $background;
          }
        }
      }
      label {
        &.date {
          font-weight: bold;
        }
        &.date::after {
          content: " *";
          color: red;
        }
        &.rem {
          text-decoration: underline;
        }
      }
      div#vizibilitate-parola {
        cursor: pointer;
        position: absolute;
        width: 2rem;
        height: 1.5rem;
        background-color: lightgray;
        border: 0.1rem solid $separator;
        border-radius: 50%;
        right: 6rem;
        top: 11rem;
        &:hover {
          background-color: $header;
        }
        &.activ {
          background-color: $header;
        }
      }
      input {
        &.text {
          width: 100%;
          border-radius: 0.7rem;
          padding: 1rem 0.5rem 1rem 0.5rem;
          box-shadow: 0 0 0 0.1rem $header;
          border: none;
          &:focus {
            background-color: $tonDeschis;
            outline: none;
          }
          &:hover {
            background-color: $tonDeschis;
          }
          &::placeholder {
            font-style: italic;
            opacity: 30%;
          }
        }
        &#password {
          margin: 0 0 -0.5rem 0;
        }
        &#email {
          margin: 0 0 2rem 0;
        }
        &#remember {
          margin-top: 1.5rem;
          vertical-align: -0.2rem;
        }
      }
      button {
        font-weight: bold;
        width: 100%;
        padding: 1.5rem 0 1.5rem 0;
        margin: 2rem 0 0 0;
        border-radius: 0.7rem;
        border: none;
        color: white;
        font-size: 1.8rem;
        background-color: $negru;
        transition: all 0.4s;
        &:hover {
          background-color: $contrast;
        }
      }
    }
  }
}
