$header: rgb(43, 43, 43);
$separator: rgb(158, 158, 158);
$background: rgb(242, 244, 245);
$ton: rgb(90, 90, 90);
$tondoi: rgba(90, 90, 90, 0.5);
$tonDeschis: rgb(250, 250, 250);
$tonInchis: rgb(65, 65, 65);
$contrast: rgb(255, 120, 0);
$sort-meniu: rgb(230, 230, 230);

$alb: rgb(255, 255, 255);
$negru: rgb(0, 0, 0);
