$Full: 100%;
$Emty: 0;
$jumate: $Full / 2;
$treime: $Full / 3;
$sfert: $Full / 4;
$cincime: $Full / 5;

$H-nav-header: 5.4rem;
$H-separator: 0.4rem;
$H-header-fill: 5.8rem;

$border-icons-header: 0.12rem;
$border-icons-radius-header: 0.4rem;

$font-size-icons-header:2.5rem;
$font-size-hover-icons-header:2.8rem;
$font-size-active-icons-header:3rem;

$H-icons-header: 4rem;
$W-icons-header: 4rem;