@import "../SCSS-imports/culori";
@import "../SCSS-imports/extend";
* {
  @extend %reset;
}
body {
  @extend %body;
}
header {
  width: 100%;
  background-color: $header;
  position: fixed;
  z-index: 1;

  nav {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15mm;
    max-width: 350mm;

    ul {
      position: relative;
      list-style-type: none;
      display: flex;
      align-items: center;
      padding: 0mm 5%;
      width: 33%;
      a {
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 7mm;
        color: $separator;
        transition: all 0.3s;
      }
      &.right-bar {
        justify-content: flex-end;
        li {
          padding: 0mm;
          border-radius: 2mm;

          a {
            width: 12mm;
            height: 12mm;
            font-size: 8mm;
            border-radius: 2mm;
            position: relative;
            margin: auto;
            &:hover {
              background-color: $ton;
              color: $separator;
              font-size: 8.2mm;
            }
          }
        }
      }
      &.menu-bar {
        li {
          a {
            top: 1mm;
            width: 12mm;
            height: 12mm;
            font-size: 8mm;
            border-radius: 2mm;
            border: 0.3mm solid $ton;
            position: relative;
            margin: auto;
            &:hover {
              background-color: $ton;
              color: $separator;
              border-color: $separator;
              font-size: 8.5mm;
            }
          }
          div {
            position: relative;
            top: 1mm;
            font-size: 1.8mm;
            color: $separator;
            transition: all 0.3s;
            &.semn-home {
              opacity: 0;
            }
            &.semn-galerie {
              opacity: 0;
            }
            &.semn-artist {
              opacity: 0;
            }
          }
        }
      }

      &.left-bar {
        li {
          &.logo {
            width: 25mm;
            a {
              font-size: 11mm;
              color: $background;
              &:hover {
                font-size: 13mm;
              }
            }
          }
          &.search {
            a {
              font-size: 7mm;
              color: $separator;
              justify-content: flex-start;
              &:hover {
                font-size: 8mm;
                color: $background;
              }
            }
          }
        }
      }
      li {
        padding: 0mm 5mm;
      }
    }
  }
  div {
    &.separator {
      height: 1mm;
      width: 100%;
      background-color: $separator;
    }
  }
}
ul.menu-bar li.home a:hover ~ .semn-home {
  opacity: 1;
}
ul.menu-bar li.galery a:hover ~ .semn-galerie {
  opacity: 1;
}
ul.menu-bar li.artist a:hover ~ .semn-artist {
  opacity: 1;
}
