@import "../SCSS-imports/culori";
@import "../SCSS-imports/extend";
* {
  @extend %reset;
}
body {
  @extend %body;
}
main {
  @extend %main;
  display: flex;
  justify-content: center;
  align-items: center;
  section {
    &.content-main {
      padding: 5rem;
      position: relative;
      width: fit-content;
      height: fit-content;
      display: flex;
      justify-content: center;
      transition: all 0.5s;

      div.meniu-contul-meu {
        position: relative;
        background-color: $tonDeschis;
        margin: auto;
        width: 70rem;
        height: 70rem;
        border-radius: 5rem;
        padding: 3rem 3rem;
        box-shadow: 0 0 5rem -2rem $header;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "dc dc adauga"
          "dc dc produse"
          "date favorite comenzi";
        grid-gap: 3rem;
        justify-content: center;
        div {
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 3rem;
          cursor: pointer;

          &.vizualizare-detalii-cont {
            grid-area: dc;
            background-color: transparent;
            perspective: 100rem;
            &:hover {
              div.detalii-cont-flip-container {
                transform: rotateY(180deg);
                box-shadow: 0 0 3rem -1rem $tonInchis;
              }
            }
            div {
              border: none;
              &.detalii-cont-flip-container {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: all 0.6s;
                transform-style: preserve-3d;
                border: 0.1rem solid $separator;
                div {
                  &.detalii-flip {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                  }
                  &.detalii-cont-fata {
                    background-color: $header;
                    color: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    section {
                      &.avatar {
                        width: 85%;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        overflow: hidden;
                        border: 3rem solid $alb;
                        box-shadow: 0 0 0 0.7rem $separator;
                        z-index: 1;
                        background-color: $tonDeschis;

                        img {
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                          transition: all 0.5s ease;
                        }
                      }
                    }
                  }
                  &.detalii-cont-spate {
                    background-color: $header;
                    color: white;
                    transform: rotateY(180deg);
                  }
                }
              }
            }
          }
          &[class|="buton"] {
            position: relative;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto 35%;
            justify-content: center;
            align-items: center;
            color: $header;
            border: 0.1rem solid $separator;
            transition: all 0.4s;

            &:hover {
              box-shadow: 0 0 3rem -1rem $tonInchis;
            }

            span.icon-buton-contul-meu {
              position: relative;
              margin: auto;
              font-size: 10rem;
              top: 1rem;
            }
            h2.text-buton {
              width: 90%;
              text-align: center;
              font-size: 1.8rem;
              margin: auto;
            }
            &:hover {
              background-color: $header;
              span.icon-buton-contul-meu {
                color: $tonDeschis;
              }
              h2.text-buton {
                color: $tonDeschis;
              }
            }
          }
          &.buton-date-personale {
            grid-area: date;
          }
          &.buton-comenzile-mele {
            grid-area: comenzi;
          }
          &.buton-produsele-mele {
            grid-area: produse;
          }
          &.buton-favorite {
            grid-area: favorite;
            span.icon-buton-contul-meu {
              font-size: 9rem;
            }
          }
          &.buton-adauga-produs {
            grid-area: adauga;
          }
        }
      }
    }
  }
  div.meniuri-ascunse-contul-meu {
    width: fit-content;
    position: absolute;
    display: block;
    top: 2rem;
    height: calc(100vh - 9rem);

    section {
      position: relative;
      display: none;
      opacity: 0;
      transition: all 0.5s;
      align-items: center;
      flex-direction: column;
      overflow-y: scroll;
      height: calc(100vh - 12rem);

      &.meniu-ascuns-adauga-produs {
        padding: 0 5rem;
        width: fit-content;
        background-color: $background;

        button.btn-iesire-meniu-adauga-produs {
          z-index: 1;
          position: absolute;
          grid-area: btn;
          width: 7rem;
          height: 7rem;
          right: 2rem;
          top: 1.5rem;
          border-radius: 50%;
          border: 0.3rem solid $separator;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            background-color: $header;
            color: $tonDeschis;
          }
          span {
            display: inline-block;
            transform: rotate(45deg);
            font-size: 4rem;
          }
        }
        h1 {
          font-size: 5rem;
          width: fit-content;
          text-align: center;
          border-bottom: 0.1rem solid $separator;
        }
      }
      &.active {
        display: flex;
        opacity: 1;
      }
    }
  }
}
