* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #f2f4f5;
  overflow-x: hidden;
}

main div.content-main {
  top: 6.4rem;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main div.content-main div.artisti {
  width: calc(100% - 7rem);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti {
  width: 100%;
  max-width: 170rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 30rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 30rem));
  grid-gap: 2rem;
  grid-auto-flow: dense;
  padding: 1rem 5rem 1rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist {
  position: relative;
  aspect-ratio: 1;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #fafafa;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  padding: 1rem 1rem;
  -webkit-box-shadow: 0 0 1rem -0.4rem #2b2b2b;
          box-shadow: 0 0 1rem -0.4rem #2b2b2b;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "artist artist rating" "artist artist like" "nume nume produse";
  grid-gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist:hover section.sectiune-numar-produse {
  background-color: #2b2b2b;
  color: white;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.vizualizare-avatar-cont {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: artist;
  background-color: transparent;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.vizualizare-avatar-cont:hover div.avatar-cont-flip-container {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-shadow: 0 0 1rem -0.4rem #414141;
          box-shadow: 0 0 1rem -0.4rem #414141;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.vizualizare-avatar-cont div {
  border: none;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.vizualizare-avatar-cont div.avatar-cont-flip-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.vizualizare-avatar-cont div.avatar-cont-flip-container div.avatar-flip {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.vizualizare-avatar-cont div.avatar-cont-flip-container div.avatar-cont-fata {
  background-color: #2b2b2b;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.vizualizare-avatar-cont div.avatar-cont-flip-container div.avatar-cont-fata section.avatar {
  width: 85%;
  height: 85%;
  border-radius: 50%;
  overflow: hidden;
  border: 1rem solid white;
  -webkit-box-shadow: 0 0 0 0.4rem #9e9e9e;
          box-shadow: 0 0 0 0.4rem #9e9e9e;
  z-index: 1;
  background-color: #fafafa;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.vizualizare-avatar-cont div.avatar-cont-flip-container div.avatar-cont-fata section.avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.vizualizare-avatar-cont div.avatar-cont-flip-container div.descriere-artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: #2b2b2b;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.vizualizare-avatar-cont div.avatar-cont-flip-container div.descriere-artist p {
  font-size: 1.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.sectiune-nume {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nume;
  overflow: hidden;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.sectiune-nume h2.nume-artist {
  background-color: #2b2b2b;
  color: white;
  width: 100%;
  padding: 0.4rem 0rem;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.sectiune-numar-produse {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: produse;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.sectiune-total-like-uri {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: like;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.sectiune-total-like-uri span {
  color: red;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.sectiune-rating {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: rating;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section.sectiune-rating span {
  color: goldenrod;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section[class|="sectiune"] {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 45%;
      grid-template-rows: auto 45%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2b2b2b;
  border: 0.1rem solid #9e9e9e;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section[class|="sectiune"] span {
  position: relative;
  margin: auto;
  font-size: 3.5rem;
  top: 0.5rem;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section[class|="sectiune"] h2 {
  width: 90%;
  text-align: center;
  font-size: 2.5rem;
  margin: auto;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section[class|="sectiune"] ul.ocupatii-artist {
  position: relative;
  top: -0.5rem;
  width: 90%;
  margin: auto;
  font-size: 1.2rem;
}

main div.content-main div.artisti div.continut-centrat-pentru-artisti div.artist section[class|="sectiune"] ul.ocupatii-artist li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  list-style: none;
}
/*# sourceMappingURL=main-artisti.css.map */