@import "../SCSS-imports/culori";
@import "../SCSS-imports/extend";
@import "../SCSS-imports/responsive";
@import "../SCSS-imports/dimensiuni";

* {
  @extend %reset;
}
body {
  @extend %body;
}
main {
  div.content-main {
    top: 6.4rem;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -1rem;
    display: flex;

    div.artisti {
      width: calc(100% - 7rem);
      height: fit-content;
      display: flex;
      justify-content: center;

      div.continut-centrat-pentru-artisti {
        width: 100%;
        max-width: 170rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 30rem));
        grid-gap: 2rem;
        grid-auto-flow: dense;
        padding: 1rem 5rem 1rem 5rem;
        justify-content: center;

        div.artist {
          position: relative;
          aspect-ratio: 1;
          cursor: pointer;
          transition: all 0.5s;
          background-color: $tonDeschis;
          margin: auto;
          width: 100%;
          height: 100%;
          border-radius: 2rem;
          padding: 1rem 1rem;
          box-shadow: 0 0 1rem -0.4rem $header;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-areas:
            "artist artist rating"
            "artist artist like"
            "nume nume produse";
          grid-gap: 0.5rem;
          justify-content: center;

          &:hover section.sectiune-numar-produse {
            background-color: $header;
            color: $alb;
          }

          section {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            overflow: hidden;

            &.vizualizare-avatar-cont {
              grid-area: artist;
              background-color: transparent;
              perspective: 100rem;
              &:hover {
                div.avatar-cont-flip-container {
                  transform: rotateY(180deg);
                  box-shadow: 0 0 1rem -0.4rem $tonInchis;
                }
              }
              div {
                border: none;
                &.avatar-cont-flip-container {
                  position: relative;
                  width: 100%;
                  height: 100%;
                  text-align: center;
                  transition: all 0.6s;
                  transform-style: preserve-3d;
                  div {
                    &.avatar-flip {
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      backface-visibility: hidden;
                    }
                    &.avatar-cont-fata {
                      background-color: $header;
                      color: black;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      section {
                        &.avatar {
                          width: 85%;
                          height: 85%;
                          border-radius: 50%;
                          overflow: hidden;
                          border: 1rem solid $alb;
                          box-shadow: 0 0 0 0.4rem $separator;
                          z-index: 1;
                          background-color: $tonDeschis;

                          img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: all 0.5s ease;
                          }
                        }
                      }
                    }
                    &.descriere-artist {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      padding: 1rem;
                      background-color: $header;
                      color: white;
                      transform: rotateY(180deg);
                      p {
                        font-size: 1.2rem;
                        width: fit-content;
                        height: fit-content;
                      }
                    }
                  }
                }
              }
            }
            &.sectiune-nume {
              grid-area: nume;
              overflow: hidden;
              h2.nume-artist {
                background-color: $header;
                color: $alb;
                width: 100%;
                padding: 0.4rem 0rem;
              }
            }
            &.sectiune-numar-produse {
              grid-area: produse;
            }
            &.sectiune-total-like-uri {
              grid-area: like;
              span {
                color: red;
              }
            }
            &.sectiune-rating {
              grid-area: rating;
              span {
                color: goldenrod;
              }
            }
            &[class|="sectiune"] {
              position: relative;
              display: grid;
              grid-template-columns: 100%;
              grid-template-rows: auto 45%;
              justify-content: center;
              align-items: center;
              color: $header;
              border: 0.1rem solid $separator;
              transition: all 0.4s;
              span {
                position: relative;
                margin: auto;
                font-size: 3.5rem;
                top: 0.5rem;
              }
              h2 {
                width: 90%;
                text-align: center;
                font-size: 2.5rem;
                margin: auto;
              }
              ul.ocupatii-artist {
                position: relative;
                top: -0.5rem;
                width: 90%;
                margin: auto;
                font-size: 1.2rem;
                li {
                  width: fit-content;
                  margin: auto;
                  list-style: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
