@import "../SCSS-imports/culori";
@import "../SCSS-imports/extend";
@import "../SCSS-imports/responsive";
@import "../SCSS-imports/dimensiuni";

@media only screen and (max-width: $monitor-normal) {
    html {
        font-size: 9px;
        main {
          min-height: 75rem;
          height: calc(100vh - $H-header-fill);
        }
    }
}

@media only screen and (max-width: $laptop) {
    html {
        font-size: 8px;
        main {
          min-height: 75rem;
          height: calc(100vh - $H-header-fill);
        }
    }
}

@media only screen and (max-width: $tableta) {

    main {
        min-height: 75rem;
        height: calc(100vh - $H-header-fill);

        div.main-container {
  
          div.left-side {
            width: 9.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            div.formLogo {
              font-size: 6rem;
              transform: rotateZ(270deg);
            }
          }
        }
    }

}

@media only screen and (max-width: $telefon) {

    main {

        min-height: 75rem;
        height: calc(100vh - $H-header-fill);
        display: block;


        div.main-container {
            display: block;
            margin: auto;
  
          div.left-side {
              position: relative;
              margin: auto;
              width: 80%;
              border-radius: 1rem 1rem 0 0;
              height: 10rem;
              top: 5rem;
            div.formLogo {
              font-size: 7rem;
              transform: rotateZ(0deg);
              top: -3.5rem;
              text-shadow: 0 0 2rem $negru;
            }
          }
          div.right-side {
            margin: auto;
            width: 95%;
            border-radius: 1rem;
          }
        }
    }


}