@import "../SCSS-imports/culori";
@import "../SCSS-imports/extend";
@import "../SCSS-imports/responsive";
@import "../SCSS-imports/dimensiuni";

@media only screen and (max-width: $monitor-mic) {
  main {
    div.main-container {
      flex-direction: column;
      div.left-side {
        height: 13rem;
        width: 80%;
        border-radius: 3.8rem 3.8rem 0 0;
        div.formLogo {
          padding: 1rem 0 1rem 0;
          font-size: 10rem;
        }
        p.motivatie {
          padding-top: 0rem;
          font-size: 3rem;
          margin-top: -2rem;
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: $telefon) {
  main {
    div.main-container {
      width: 100%;
      div.left-side {
        width: 80%;
      }
      div.right-side {
        width: 100%;
      }
    }
  }
}
